In [1]:
import pandas as pd
import numpy as np
import re

pd.options.mode.chained_assignment = None

# Feature Selection

In [2]:
df = pd.read_csv('emotional.csv')
df

,#,ID,Name,Description,Location,Latitude,Longitude,Author Username,Tags,File Name,...,Rating,Created At,Taken At,Category,Favorites Count,Country,County,State,City,Attraction
0,1,218308049,Group of five friends celebrating in their sum...,Group of five friends celebrating in their sum...,NaN,NaN,NaN,kato84,"celebration,party,board,young,family,friends,s...",218308049_440.jpg,...,46.8,42918.61272,42845.47479,7,NaN,NaN,NaN,NaN,NaN,NaN
1,2,70488871,Young beautiful girl outdoor portrait,Young beautiful girl outdoor portrait,NaN,NaN,NaN,photalina,"cute,portrait,beautiful,look,young,beauty,love...",70488871_440.jpg,...,49.8,41773.77564,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN
2,3,118104037,Two children running Follow,"Action two children running on the berms, ditc...",NaN,17.679742,103.838782,sutiponmm,"sweet,flower,cute,adorable,life,portrait,beaut...",118104037_440.jpg,...,48.9,42229.43551,42225.88628,0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,218308265,Group of five friends celebrating in their sum...,Group of five friends celebrating in their sum...,NaN,NaN,NaN,kato84,"celebration,drink,party,board,young,family,fri...",218308265_440.jpg,...,46.1,42918.61406,42845.64266,7,NaN,NaN,NaN,NaN,NaN,NaN
4,5,88335247,Lovers of the Tide,My Photoshop actions & Lightroom presets on Cr...,NaN,NaN,NaN,Rainman,"close-up,whiskers,portrait,love,two,monochrome...",88335247_440.jpg,...,49.9,41944.91924,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16298,16299,103659819,Absolute,"<a href=""http://www.fabiozenoardophotography.c...",NaN,43.917680,8.051605,FabioZenoardo,"top,portrait,beautiful,beauty,canon,light,emot...",103659819_440.jpg,...,21.3,42096.61703,42074.91059,7,NaN,NaN,NaN,NaN,NaN,NaN
16299,16300,101383017,Sensual,Sensual,NaN,37.524295,127.045512,stateofart,"portrait,beautiful,beauty,legs,body,nikon,gorg...",101383017_440.jpg,...,36.0,42073.58459,42072.03036,7,NaN,NaN,NaN,NaN,NaN,NaN
16300,16301,101997671,Matt Mosby,Visit us on Facebook: \n\nhttps://facebook.com...,NaN,49.423927,12.098608,getPictures,"autumn,portrait,beautiful,bokeh,beauty,light,d...",101997671_440.jpg,...,22.0,42079.7647,42071.8742,7,NaN,NaN,NaN,NaN,NaN,NaN
16301,16302,101997669,Matt Mosby & Carolin,Visit us on Facebook: \n\nhttps://facebook.com...,NaN,49.389077,12.125559,getPictures,"autumn,portrait,beautiful,bokeh,beauty,light,d...",101997669_440.jpg,...,27.8,42079.7647,42071.82869,7,NaN,NaN,NaN,NaN,NaN,NaN
16302,16303,109885759,Lion Heart,Model: J. Stamina\nBy: Routography\n\n©Routogr...,NaN,NaN,NaN,routography,"portrait,young,summer,winter,spring,light,emot...",109885759_440.jpg,...,31.7,25/05/2015 05:14 PM,08/03/2015 12:20 AM,7,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16303 entries, 0 to 16302
Data columns (total 28 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   #                16303 non-null  int64
 1   ID               16303 non-null  int64
 2   Name             16303 non-null  object
 3   Description      11260 non-null  object
 4   Location         1 non-null      object
 5   Latitude         5617 non-null   float64
 6   Longitude        5617 non-null   float64
 7   Author Username  16303 non-null  object
 8   Tags             16303 non-null  object
 9   File Name        16303 non-null  object
 10  Size             16303 non-null  object
 11  Camera           11612 non-null  object
 12  Lens             7022 non-null   object
 13  Focal Length     11208 non-null  object
 14  ISO              11320 non-null  object
 15  Shutter Speed    11308 non-null  object
 16  Aperture         11130 non-null  object
 17  Times Viewed     16303 non-null  int64
 18  Rating           16303 non-null  float64
 19  Created At       16303 non-null  object
 20  Taken At         11454 non-null  object
 21  Category         16303 non-null  int64
 22  Favorites Count  0 non-null      float64
 23  Country          0 non-null      float64
 24  County           0 non-null      float64
 25  State            0 non-null      float64
 26  City             0 non-null      float64
 27  Attraction       0 non-null      float64
dtypes: float64(9), int64(4), object(15)
memory usage: 3.5+ MB

In [4]:
df = df[['Tags','Author Username','Times Viewed','Rating','Created At', 'Category']]
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,"celebration,party,board,young,family,friends,s...",kato84,18570,46.8,42918.61272,7
1,"cute,portrait,beautiful,look,young,beauty,love...",photalina,124168,49.8,41773.77564,7
2,"sweet,flower,cute,adorable,life,portrait,beaut...",sutiponmm,84304,48.9,42229.43551,0
3,"celebration,drink,party,board,young,family,fri...",kato84,16932,46.1,42918.61406,7
4,"close-up,whiskers,portrait,love,two,monochrome...",Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,"top,portrait,beautiful,beauty,canon,light,emot...",FabioZenoardo,89,21.3,42096.61703,7
16299,"portrait,beautiful,beauty,legs,body,nikon,gorg...",stateofart,522,36.0,42073.58459,7
16300,"autumn,portrait,beautiful,bokeh,beauty,light,d...",getPictures,155,22.0,42079.7647,7
16301,"autumn,portrait,beautiful,bokeh,beauty,light,d...",getPictures,185,27.8,42079.7647,7
16302,"portrait,young,summer,winter,spring,light,emot...",routography,83,31.7,25/05/2015 05:14 PM,7

# Preprocessing

In [5]:
df['Tags'] = df['Tags'].str.replace(',',' ')

In [6]:
df['Tags'] = df['Tags'].str.lower()

### Removing Emojies

In [7]:
def deEmojify(inputString):
    return inputString.encode('ascii','ignore').decode('ascii')

df['Tags']= df['Tags'].apply(lambda s: deEmojify(s))
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family friends s...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family fri...,kato84,16932,46.1,42918.61406,7
4,close-up whiskers portrait love two monochrome...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty legs body nikon gorg...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful bokeh beauty light d...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful bokeh beauty light d...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Removing HTML Tags

In [8]:
def remove_html(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r' ', text)


   
df['Tags']= df['Tags'].apply(lambda h: remove_html(h))
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family friends s...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family fri...,kato84,16932,46.1,42918.61406,7
4,close-up whiskers portrait love two monochrome...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty legs body nikon gorg...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful bokeh beauty light d...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful bokeh beauty light d...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Removing URLs

In [9]:
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r' ', text)

df['Tags']= df['Tags'].apply(lambda r: remove_urls(r))
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family friends s...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family fri...,kato84,16932,46.1,42918.61406,7
4,close-up whiskers portrait love two monochrome...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty legs body nikon gorg...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful bokeh beauty light d...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful bokeh beauty light d...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Removing Email Addresses

In [10]:

def remove_Email(text):
    url_pattern = re.compile(r'[\w\.-]+@[\w\.-]+')
    return url_pattern.sub(r' ', text)


df['Tags']= df['Tags'].apply(lambda r: remove_Email(r))
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family friends s...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family fri...,kato84,16932,46.1,42918.61406,7
4,close-up whiskers portrait love two monochrome...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty legs body nikon gorg...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful bokeh beauty light d...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful bokeh beauty light d...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Removing Social Media IDs

In [11]:
def remove_id(text):
    url_pattern = re.compile(r'@\w')
    return url_pattern.sub(r' ', text)

df['Tags']= df['Tags'].apply(lambda r: remove_id(r))
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family friends s...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family fri...,kato84,16932,46.1,42918.61406,7
4,close-up whiskers portrait love two monochrome...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty legs body nikon gorg...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful bokeh beauty light d...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful bokeh beauty light d...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Removing Numbers

In [12]:
df["Tags"] = df["Tags"].replace('\d+', '', regex=True)
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family friends s...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family fri...,kato84,16932,46.1,42918.61406,7
4,close-up whiskers portrait love two monochrome...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty legs body nikon gorg...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful bokeh beauty light d...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful bokeh beauty light d...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Removing Punctuations

In [13]:
import re

df["Tags"] = df["Tags"].apply(lambda s: ' '.join(re.sub("[.,!?:;-='...\"@#_]", " ", s).split()))
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family friends s...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family fri...,kato84,16932,46.1,42918.61406,7
4,close-up whiskers portrait love two monochrome...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty legs body nikon gorg...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful bokeh beauty light d...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful bokeh beauty light d...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Removing Stopwords

In [14]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords


stop = stopwords.words('english')


df['Tags'] = df['Tags'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
df

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\FTM\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family friends s...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family fri...,kato84,16932,46.1,42918.61406,7
4,close-up whiskers portrait love two monochrome...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty legs body nikon gorg...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful bokeh beauty light d...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful bokeh beauty light d...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Removing Non-English Words

In [15]:
import nltk
nltk.download('words')
words = set(nltk.corpus.words.words())

df['Tags'] = df['Tags'].apply(lambda x: " ".join(w for w in nltk.wordpunct_tokenize(x) if w.lower() in words or not w.isalpha()))

df

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\FTM\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family summer ou...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful look young beauty love...,photalina,124168,49.8,41773.77564,7
2,sweet flower cute adorable life portrait beaut...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family sum...,kato84,16932,46.1,42918.61406,7
4,close - up portrait love two monochrome beard ...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty body gorgeous model ...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful beauty light emotion...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful beauty light emotion...,getPictures,185,27.8,42079.7647,7
16302,portrait young summer winter spring light emot...,routography,83,31.7,25/05/2015 05:14 PM,7

### Remove Repetitive Characters

In [16]:
def conti_rep_char(str1):
    tchr = str1.group(0)
    if len(tchr) > 1:
        return tchr[0:1]
     

    
def check_unique_char(rep, sent_text):
    convert = re.sub(r'(\w)\1+', 
                     rep,
                     sent_text)
    return convert
 
df['Tags'] = df['Tags'].apply(lambda x : check_unique_char(conti_rep_char, x))

df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebration party board young family sumer out...,kato84,18570,46.8,42918.61272,7
1,cute portrait beautiful lok young beauty love ...,photalina,124168,49.8,41773.77564,7
2,swet flower cute adorable life portrait beauti...,sutiponmm,84304,48.9,42229.43551,0
3,celebration drink party board young family sum...,kato84,16932,46.1,42918.61406,7
4,close - up portrait love two monochrome beard ...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beautiful beauty canon light emot...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beautiful beauty body gorgeous model ...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beautiful beauty light emotion...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beautiful beauty light emotion...,getPictures,185,27.8,42079.7647,7
16302,portrait young sumer winter spring light emoti...,routography,83,31.7,25/05/2015 05:14 PM,7

### Stemming

In [17]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer("english")


def stim_text(text):
    st = [stemmer.stem(w) for w in text.split()]
    st = " ".join(st)
    return(st)


df['Tags'] = df['Tags'].apply(lambda s: stim_text(s))

df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebr parti board young famili sumer outdor h...,kato84,18570,46.8,42918.61272,7
1,cute portrait beauti lok young beauti love ang...,photalina,124168,49.8,41773.77564,7
2,swet flower cute ador life portrait beauti you...,sutiponmm,84304,48.9,42229.43551,0
3,celebr drink parti board young famili sumer ou...,kato84,16932,46.1,42918.61406,7
4,close - up portrait love two monochrom beard s...,Rainman,105510,49.9,41944.91924,7
...,...,...,...,...,...,...
16298,top portrait beauti beauti canon light emot da...,FabioZenoardo,89,21.3,42096.61703,7
16299,portrait beauti beauti bodi gorgeous model peo...,stateofart,522,36.0,42073.58459,7
16300,autumn portrait beauti beauti light emot color...,getPictures,155,22.0,42079.7647,7
16301,autumn portrait beauti beauti light emot color...,getPictures,185,27.8,42079.7647,7
16302,portrait young sumer winter spring light emot ...,routography,83,31.7,25/05/2015 05:14 PM,7

In [18]:
#df['Created At'] = pd.to_datetime(df['Created At'], unit='s')

In [19]:
import datetime

for i in range(len(df)):
    if re.match(r'^-?\d+(?:\.\d+)$', df['Created At'][i]) is not None:
        serial = float(df['Created At'][i])
        seconds = (serial - 25569) * 86400.0
        df['Created At'][i]=datetime.datetime.utcfromtimestamp(seconds)
        

df

,Tags,Author Username,Times Viewed,Rating,Created At,Category
0,celebr parti board young famili sumer outdor h...,kato84,18570,46.8,2017-07-02 14:42:19.008000,7
1,cute portrait beauti lok young beauti love ang...,photalina,124168,49.8,2014-05-14 18:36:55.296000,7
2,swet flower cute ador life portrait beauti you...,sutiponmm,84304,48.9,2015-08-13 10:27:08.064000,0
3,celebr drink parti board young famili sumer ou...,kato84,16932,46.1,2017-07-02 14:44:14.784000,7
4,close - up portrait love two monochrom beard s...,Rainman,105510,49.9,2014-11-01 22:03:42.336000,7
...,...,...,...,...,...,...
16298,top portrait beauti beauti canon light emot da...,FabioZenoardo,89,21.3,2015-04-02 14:48:31.392000,7
16299,portrait beauti beauti bodi gorgeous model peo...,stateofart,522,36.0,2015-03-10 14:01:48.576000,7
16300,autumn portrait beauti beauti light emot color...,getPictures,155,22.0,2015-03-16 18:21:10.080000,7
16301,autumn portrait beauti beauti light emot color...,getPictures,185,27.8,2015-03-16 18:21:10.080000,7
16302,portrait young sumer winter spring light emot ...,routography,83,31.7,25/05/2015 05:14 PM,7

In [20]:
df[df['Created At'].str.contains('M', na=False)]

,Tags,Author Username,Times Viewed,Rating,Created At,Category
16302,portrait young sumer winter spring light emot ...,routography,83,31.7,25/05/2015 05:14 PM,7

In [40]:
df['Date']=''
df['Time']=''

for i in range(len(df)):
    if(df['Created At'][i] != '25/05/2015 05:14 PM'):
        df['Date'][i] = df['Created At'][i].strftime("%Y-%m-%d")
        df['Time'][i] = df['Created At'][i].strftime("%H:%M")
        
    else:
        df['Date'][i] = '2015-05-25'
        df['Time'][i] = '17:14'
        
df

,Tags,Author Username,Times Viewed,Rating,Created At,Category,Date,Time
0,celebr parti board young famili sumer outdor h...,kato84,18570,46.8,2017-07-02 14:42:19.008000,7,2017-07-02,14:42
1,cute portrait beauti lok young beauti love ang...,photalina,124168,49.8,2014-05-14 18:36:55.296000,7,2014-05-14,18:36
2,swet flower cute ador life portrait beauti you...,sutiponmm,84304,48.9,2015-08-13 10:27:08.064000,0,2015-08-13,10:27
3,celebr drink parti board young famili sumer ou...,kato84,16932,46.1,2017-07-02 14:44:14.784000,7,2017-07-02,14:44
4,close - up portrait love two monochrom beard s...,Rainman,105510,49.9,2014-11-01 22:03:42.336000,7,2014-11-01,22:03
...,...,...,...,...,...,...,...,...
16298,top portrait beauti beauti canon light emot da...,FabioZenoardo,89,21.3,2015-04-02 14:48:31.392000,7,2015-04-02,14:48
16299,portrait beauti beauti bodi gorgeous model peo...,stateofart,522,36.0,2015-03-10 14:01:48.576000,7,2015-03-10,14:01
16300,autumn portrait beauti beauti light emot color...,getPictures,155,22.0,2015-03-16 18:21:10.080000,7,2015-03-16,18:21
16301,autumn portrait beauti beauti light emot color...,getPictures,185,27.8,2015-03-16 18:21:10.080000,7,2015-03-16,18:21
16302,portrait young sumer winter spring light emot ...,routography,83,31.7,25/05/2015 05:14 PM,7,2015-05-25,17:14

In [41]:
df = df[['Tags','Author Username','Times Viewed','Rating','Date','Time','Category']]

In [42]:
df.to_csv('Tag_pre.csv',index=False)